apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hdhomerun-epg
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://stakater.github.io/stakater-charts
    chart: application
    targetRevision: 1.0.0
    helm:
      valuesObject:
        applicationName: hdhomerun-epg
        deployment:
          enabled: true
          replicas: 1
          image:
            repository: ghcr.io/thekoma/hdhomerunepgxml
            tag: latest
            pullPolicy: Always
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          volumes:
            data:
              emptyDir: {}
          volumeMounts:
            data:
              mountPath: /data
          env:
            HDHOMERUN_HOST:
              value: "10.0.1.2"
            HDHOMERUN_CACHE_DB_PATH:
              value: "/data/epg_cache.db"
            HDHOMERUN_CACHE_ENABLED:
              value: "true"
        service:
          enabled: true
          ports:
            - name: http
              port: 80
              targetPort: 8000
              protocol: TCP
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
