apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tvguide
  namespace: argocd
spec:
  project: default
  source:
    chart: application
    repoURL: https://stakater.github.io/stakater-charts
    targetRevision: 6.14.0
    helm:
      releaseName: tvguide
      valuesObject:
        applicationName: tvguide
        deployment:
          image:
            repository: ghcr.io/thekoma/hdhomerunepgxml
            tag: 2025.12.6
            pullPolicy: Always
          volumes:
            data:
              emptyDir: {}
          volumeMounts:
            data:
              mountPath: /data
          env:
            HDHOMERUN_HOST:
              value: "192.168.0.1"
            HDHOMERUN_CACHE_DB_PATH:
              value: "/data/epg_cache.db"
            HDHOMERUN_EPG_HOURS:
              value: "4"
            HDHOMERUN_EPG_DAYS:
              value: "7"
          readinessProbe:
            enabled: true
            httpGet:
              path: /healthcheck
              port: 8000
            initialDelaySeconds: 0
            periodSeconds: 5
          livenessProbe:
            enabled: true
            httpGet:
              path: /healthcheck
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 300
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 256Mi
          securityContext:
            fsGroup: 1001
          containerSecurityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true

        service:
          enabled: true
          ports:
            - name: http
              port: 8000
              targetPort: 8000
              protocol: TCP

        ingress:
          enabled: true
          className: nginx
          annotations:
            cert-manager.io/cluster-issuer: cloudflare
          hosts:
            - host: tvguide.mypublic.domain
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - tvguide.mypublic.domain
              secretName: tvguide-ingress-tls

  destination:
    server: https://kubernetes.default.svc
    namespace: tvguide

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
